<!DOCTYPE html>
{% load static %} 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Agregar Interesado</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="app" class="contenedor">
        <header>
            <h1>Gestor de PromoConcert</h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/promotores/">Promotoras</a></li>
                    <li><a href="/festivales/">Festivales</a></li>
                    <li><a href="/interpretes/">Interpretes</a></li>
                    <li><a href="/interesado/">Interpretes</a></li>
                </ul>
            </nav>
        </header>

        <h2>Agregar Interesado</h2>
        <!-- Usar el atributo v-on:submit para manejar la subida del formulario con Vue.js -->
        <form v-on:submit.prevent="agregarIntereresado" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn">Guardar</button>
        </form>
    </div>
</body>

</html>
