<!DOCTYPE html>
{% load static %} 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="PromoConcert" content="Content">
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <title>{% block titulo %}Gestor de Promo Concerts{% endblock %}</title>
    </head>
<body>
    <section class = "contenedor">
        <header>
            <h1>Gestor de PromoConcert</h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/promotores/">Promotoras</a></li>
                    <li><a href="/festivales/">Festivales</a></li>
                    <li><a href="/interpretes/">Interpretes</a></li>
                </ul>
            </nav>
        </header>
            {% block contenido %}{% endblock %}
    </section>
</body>
</html>
