{% extends "base.html" %}

{% block titulo %} Detalle del festival {% endblock %}

{% block contenido %}
    {% if festival %}
        <div itemscope itemtype="http://schema.org/MusicEvent">
            <h2 itemprop="name">{{ festival.nombreFestival }}</h2>
            <ul itemprop="description">
                <li>{{ festival.infoFestival }}</li>
            </ul>
            
            <h2>Artistas que acudirán a {{ festival.nombreFestival }}</h2>
            {% if festival.interpretes.all %}
                <ul>
                    {% for interprete in festival.interpretes.all %}
                        <li itemscope itemtype="http://schema.org/MusicGroup">
                            <a href="/interpretes/{{ interprete.idInterprete }}" itemprop="url">{{ interprete.nameInterprete }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Este festival no ha confirmado ningún interprete todavía todavía.</p>
            {% endif %}
        </div>

        <!-- JSON-LD-->
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "MusicEvent",
                "name": "{{ festival.nombreFestival }}",
                "description": "{{ festival.infoFestival }}",
                "performer": [
                    {% for interprete in festival.interpretes.all %}
                        {
                            "@type": "MusicGroup",
                            "name": "{{ interprete.nameInterprete }}",
                            "url": "/interpretes/{{ interprete.idInterprete }}"
                        }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }
        </script>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ festival.nombreFestival }}">
        <meta name="twitter:description" content="{{ festival.infoFestival }}">
        <meta name="twitter:image" content="URL_DE_LA_IMAGEN_DEL_FESTIVAL">

        <!-- En Facebook -->
        <meta property="og:title" content="{{ festival.nombreFestival }}">
        <meta property="og:type" content="music festival">
        <meta property="og:url" content="URL_DEL_FESTIVAL">
        <meta property="og:image" content="URL_DE_LA_IMAGEN_DEL_FESTIVAL">
        <meta property="og:description" content="{{ festival.infoFestival }}">
        <meta property="og:site_name" content="Nombre del sitio">
    {% else %}
        <p>No existe este festival.</p>
    {% endif %}
{% endblock %}
