{% extends "base.html" %}

{% block titulo %} Detalle del festival {% endblock %}

{% block contenido %}

    <h2>Datos del festival</h2>
    {% if festival %}

        <ul>
            <li>
                {{ festival.nombreFestival}}
            </li>
            <li>
                {{ festival.infoFestival}}
            </li>
        </ul>
        
        <h2>Artistas que acudirán a {{ festival.nombreFestival }}</h2>
        {% if festival.interprete.all %}
            <ul>
                {% for inte in festival.interprete.all %}
                    <li>
                        {{ interprete.nameInterprete }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Este festival no ha confirmado ningún interprete todavía todavía.</p>
        {% endif %}

    {% else %}
        <p>No existe este festival.</p>
    {% endif %}

{% endblock %}

