{% extends "base.html" %}

{% block titulo %}Listado de promotores{% endblock %}

{% block contenido %}
    <h2>Listado de promotores musicales</h2>
    {% if lista_promotores %}
        <ul>
            {% for pro in lista_promotores %}
                <li>
                    <!-- <img src="{% static 'imagenes/Live Nation.png' %}" alt="Mi Imagen"> -->
                    <a href="/promotores/{{ pro.idPromotor }}">{{ pro.namePromotor}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay promotores musicales.</p>
    {% endif %}
{% endblock %}
