{% extends "base.html" %}

{% block titulo %} Detalle del departamento {% endblock %}

{% block contenido %}

<h2>QUIENES SOMOS?</h2>

<!-- <h1>Lista</h1>
 {% if lista_festivales %}
        <ul>
            {% for fest in lista_festivales %}
            <li>
                <a href="/PromoConcert/{{ fest.idFestival }}">{{ fest.nameFestival}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay festivales musicales.</p>
    {% endif %}


{% endblock %} -->
