{% extends "base.html" %}
{%load static%}

{% block titulo %}Listado de festivales{% endblock %}

{% block contenido %}
    <h2>Listado de festivales</h2>
    {% if lista_festivales %}
        <div class="festivales-grid">
            {% for fest in lista_festivales %}
                <div class="festivales-item" itemscope itemtype="http://schema.org/MusicFestival">
                    <a href="{% url 'festivales' %}{{ fest.idFestival }}" itemprop="url">
                        {% load static %}
                        <img alt="{{ fest.imagen.name }}"  itemprop="image">
                    </a>
                </div>
                
                <!-- RDFa -->
                <div vocab="http://schema.org/" typeof="MusicFestival">
                    <a property="url" href="{% url 'festivales' %}{{ fest.idFestival }}">
                        <img property="image"  alt="{{ fest.imagen.name }}">
                        <span property="name">{{ fest.nombreFestival }}</span>
                    </a>
                </div>
                <!-- JSON-LD -->
                <script type="application/ld+json">
                    {
                        "@context": "http://schema.org",
                        "@type": "MusicFestival",
                        "url": "/festivales/{{ fest.idFestival }}",
                        "name": "{{ fest.nombreFestival }}"
                    }
                </script>
            {% endfor %}
        </div>

        <div>
            <h2><a href="{% url 'loginF' %}">¿Nuevo festival?</a></h2>
        </div>
    {% else %}
        <p>No hay festivales musicales.</p>

        <div>
            <h2><a href="{% url 'loginF' %}">¿Nuevo festival?</a></h2>
        </div>
    {% endif %}

    <!-- Capacidad Social: Twitter -->
    <a href="https://twitter.com/intent/tweet?text=Listado%20de%20festivales&url={{ request.build_absolute_uri }}"
       class="twitter-share-button" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Capacidad Social: Facebook -->
    <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-size="small">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
           class="fb-xfbml-parse-ignore">Compartir</a>
    </div>
{% endblock %}
