{% extends "base.html" %}

{% block titulo %}Listado de intérpretes{% endblock %}

{% block contenido %}
    {% if lista_interpretes %}
        <h2>Listado de intérpretes</h2>
        <div class="interpretes-grid">
            {% for inte in lista_interpretes %}
                <div class="interprete-item" itemscope itemtype="http://schema.org/MusicGroup">
                    <a href="/interpretes/{{ inte.idInterprete }}" itemprop="url">
                        {% load static %}
                        <img alt="{{ inte.foto.name }}" src="{% static inte.foto.name %}" itemprop="image">
                        <span itemprop="name">{{ inte.nameInterprete }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div>
            <li><a href="/formularioInterprete/">Añadir intérprete</a></li>
        </div>
    {% else %}
        <p>No hay cantantes/grupos.</p>
        
        <div>
            <li><a href="/formularioInterprete/">Añadir intérprete</a></li>
        </div>
    {% endif %}
{% endblock %}
