{% extends "base.html" %}

{% block titulo %} Detalle del departamento {% endblock %}

{% block contenido %}
    <h2>Datos del interprete</h2>
    {% if interprete %}
        <ul>
            <li>
                {{ interprete.nameInterprete}}
            </li>
            <li>
                {{ interprete.infoInterprete}}
            </li>
            <li>
                <!-- REVISAR -->
                {{ festival.nameFestival}}      
            </li>
        </ul>
        <h2>Festivales en los que participa {{ interprete.nameInterprete }}</h2>
        {% if festivales %}
            <ul>
                {% for fest in festivales %}
                    <li>
                        {{ fest.nameFestival }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Este intérprete todavía no ha sido confirmado en ningún festival.</p>
        {% endif %}
    {% else %}
        <p>No existe este intérprete.</p>
    {% endif %}

{% endblock %}

