{% extends "base.html" %}

{% block titulo %} Detalle del interprete {% endblock %}

{% block contenido %}
    {% if interprete %}
        <h2>{{ interprete.nameInterprete}}</h2>

            <ul>
                <li>
                    {{ interprete.infoInterprete}}
                </li>
            </ul>
            
            <h2>Festivales a los que acudirá {{ interprete.nameInterprete }}</h2>
            {% if interprete.festival_set.all %}
                <ul>
                    {% for festival in interprete.festival_set.all %}
                        <li>
                            <a href="/festivales/{{ festival.idFestival }}">{{ festival.nombreFestival}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Este cantante no ha confirmado ningún festival todavía.</p>
            {% endif %}

    {% else %}
        <p>No existe este interprete.</p>
    {% endif %}

{% endblock %}


