{% extends "base.html" %}
{% load static %} 

{% block titulo %} Inicio sesion Promotora {% endblock %}
{% block contenido %}
    <h2>Inicio sesión promotora</h2>
        <div class="inicioSes">
            <form id="loginForm" method="post" action="{% url 'loginF' %}">
                {% csrf_token %}
                <input type="text" id="usernameField" name="username" placeholder="Enter your name">
                <br><br>
                <button type="button" onclick="showConfirmation()"><a href="{% url 'addFestival' %}">Iniciar Sesión</a> </button>
            </form>
        </div>
    

    <script src="{% static 'admin/js/windowInicioSesion.js' %}" > </script>   
{% endblock %}
