{% extends "base.html" %}

{% block titulo %} Detalle del promotor {% endblock %}

{% block contenido %}

    <h2>Datos del promotor</h2>
    {% if promotor %}

        <ul>
            <li>
                {{ promotor.namePromotor}}
            </li>
            <li>
                {{ promotor.infoPromotor}}
            </li>
        </ul>
        
        <h2>Festivales organizados por {{ promotor.namePromotor }}</h2>
        {% if promotor.festivales.all %}
            <ul>
                {% for festival in promotor.festivales.all %}
                    <li>
                        <a href="/festivales/{{ festival.idFestival }}">{{ festival.nombreFestival}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Este festival no tiene intérpretes confirmados todavía.</p>
        {% endif %}

    {% else %}
        <p>No existe este promotor.</p>
    {% endif %}

{% endblock %}

