{% extends "base.html" %}

{% block titulo %} Detalle del promotor {% endblock %}

{% block contenido %}

    <h2>Datos del promotor</h2>
    {% if promotor %}

        <div itemscope itemtype="http://schema.org/Person">
            <ul>
                <li itemprop="name">
                    {{ promotor.namePromotor }}
                </li>
                <li itemprop="description">
                    {{ promotor.infoPromotor }}
                </li>
                <li>
                    {% load static %}
                    <img itemprop="image" alt="{{ promotor.foto.name }}" src="{% static promotor.foto.name %}" />
                </li>  
            </ul>
        </div>
        
        <h2>Festivales organizados por {{ promotor.namePromotor }}</h2>
        {% if promotor.festivales.all %}
            <div itemscope itemtype="http://schema.org/Organization">
                <ul itemprop="event" itemscope itemtype="http://schema.org/Festival">
                    {% for festival in promotor.festivales.all %}
                        <li itemprop="subEvent" itemscope itemtype="http://schema.org/MusicEvent">
                            <a href="/festivales/{{ festival.idFestival }}" itemprop="url">{{ festival.nombreFestival}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Este promotor no ha organizado festivales todavía.</p>
        {% endif %}

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@nombreusuario">
        <meta name="twitter:title" content="Detalle del promotor">
        <meta name="twitter:description" content="{{ promotor.infoPromotor }}">
        <meta name="twitter:image" content="{% static promotor.foto.name %}">

        <!-- Facebook -->
        <meta property="og:title" content="Detalle del promotor">
        <meta property="og:description" content="{{ promotor.infoPromotor }}">
        <meta property="og:image" content="{% static promotor.foto.name %}">
        <meta property="og:url" content="URL_DE_LA_PAGINA">

    {% else %}
        <p>No existe este promotor.</p>
    {% endif %}

{% endblock %}
