<!DOCTYPE html>
{% load static %} 
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="PromoConcert" content="Content">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title itemprop="name">{% block titulo %}Gestor de Promo Concerts{% endblock %}</title>

    <!-- Agregamos Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <section id="app" class="contenedor" itemscope itemtype="http://schema.org/WebPageElement">
        <header>
            <h1>Gestor de PromoConcert<br><br></h1>
            <h1 itemprop="headline">{{ greeting }}</h1>
            <nav itemprop="name">
                <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                    <li itemprop="url"><a href="{% url 'index' %}">Inicio</a></li>
                    <li itemprop="url"><a href="{% url 'indexPromotor' %}">Promotores</a></li>
                    <li itemprop="url"><a href="{% url 'festivales' %}">Festivales</a></li>
                    <li itemprop="url"><a href="{% url 'interpretes' %}">Interpretes</a></li>
                </ul>
            </nav>
        </header>
        
        {% block contenido %}
        <!-- Aquí puedes agregar tu lógica de Vue.js según sea necesario -->
        {% endblock %}
    </section>
    <!-- Agregamos Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    
</body>
</html>
