{% extends "base.html" %}

{% block titulo %} Detalle del festival {% endblock %}

{% block contenido %}
    {% if festival %}
        <div itemscope itemtype="http://schema.org/MusicEvent">
            <h2 itemprop="name">{{ festival.nombreFestival }}</h2>
            <br>
            <ul itemprop="description">
                <li>{{ festival.infoFestival }}</li>
            </ul>
            
            <h2>Artistas que acudirán a {{ festival.nombreFestival }}</h2>
            {% if festival.interpretes.all %}
                <ul>
                    {% for interprete in festival.interpretes.all %}
                        <li itemscope itemtype="http://schema.org/MusicGroup">
                            <a href="{% url 'festivales' %}{{ interprete.idInterprete }}" itemprop="url">{{ interprete.nameInterprete }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Este festival no ha confirmado ningún interprete todavía todavía.</p>
            {% endif %}
        </div>

    {% else %}
        <p>No existe este festival.</p>
    {% endif %}
{% endblock %}
