{% extends "base.html" %}
{%load static%}

{% block titulo %} Agregar Festival {% endblock %}

{% block contenido %}

        <h2>Agregar Festival</h2>
        <div class="formFest">
            <form method="post" action="{% url 'addFestival' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="bttn">Guardar</button>
            </form>
        </div>
        <script src="{% static 'admin/js/notificacion.js' %}" > </script> 
{% endblock %}