{% extends "base.html" %}
{%load static%}

{% block titulo %} Agregar Interprete {% endblock %}

{% block contenido %}

        <h2>Agregar Interprete</h2>
        <div class="formInt">
            <form method="post" action="{% url 'addInterprete' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="button">Guardar</button>
            </form>
        </div>
        <script src="{% static 'admin/js/noti.js' %}" > </script> 
{% endblock %}