{% extends "base.html" %}

{% block titulo %}Listado de promotores musicales{% endblock %}

{% block contenido %}
    <select id="promotorDropdown">
        <option value="" selected disabled>Seleccione un promotor</option>
        {% for promotor in object_list %}
            <option value="{{ promotor.idPromotor }}">{{ promotor.namePromotor }}</option>
        {% endfor %}
    </select>

    <div id="promotorInfo">
    <h2>Listado de promotores musicales</h2>
    {% if object_list %}
        <div class="promotores-grid" itemscope itemtype="http://schema.org/Organization">
            {% for pro in object_list %}
                <div class="promotor-item" itemprop="member" itemscope itemtype="http://schema.org/Person">
                    <a>
                    
                        {% load static %}
                        <img alt="{{ pro.foto.name }}" src="{% static pro.foto.name %}" itemprop="image">
                        <span itemprop="name">{{ pro.nombre }}</span>
                    </a>
                    <div itemprop="description">{{ pro.descripcion }}</div> 
                    
                    
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay promotores musicales.</p>
    {% endif %}
    </div>
        <!-- Capacidad Social: Twitter -->
    <a href="https://twitter.com/intent/tweet?text=Listado%20de%20festivales&url={{ request.build_absolute_uri }}"
       class="twitter-share-button" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Capacidad Social: Facebook -->
    <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-size="small">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
           class="fb-xfbml-parse-ignore">Compartir</a>
    </div>

    <script src="{% static 'admin/js/filtroPromotor.js' %}" > </script>   
{% endblock %}
