{% extends "base.html" %}
{% load static %} 


{% block titulo %} Inicio sesión promotora {% endblock %}
{% block contenido %}
    <h2>Inicio sesión promotora</h2>
        <div class="inicioSes">
            <form id="loginForm" method="post" action="{% url 'loginI' %}">
                {% csrf_token %}
                <input type="text" id="usernameField" name="username" placeholder="Enter your name">
                <br><br>
                <button type="submit">Iniciar Sesión </button>
            </form>
        </div>
    
{% endblock %}

    
