{% extends "base.html" %}
{% load static %} 

{% block titulo %} Inicio sesion Promotora {% endblock %}
{% block contenido %}
    <h2>Inicio sesión promotora</h2>
        <div class="inicioSes">
            <form method="post" action="{% url 'loginF' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br><br>
                <button type="submit"><a href="{% url 'addInterprete' %}">Iniciar Sesión</a></button>
            </form>
           </div>
{%endblock%}

    
