<!DOCTYPE html>
{% load static %} 
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="PromoConcert" content="Content">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title itemprop="name">{% block titulo %}Gestor de Promo Concerts{% endblock %}</title>
    

    <!-- Agregamos Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    
        
    {% if promotor %}
    <h2>{{ promotor.namePromotor }}</h2>
    <br>
        <div itemscope itemtype="http://schema.org/Person">
            <ul>
                <li itemprop="description">
                    {{ promotor.infoPromotor }}
                    <br><br>
                </li>
                <li>
                    {% load static %}
                    <img itemprop="image" alt="{{ promotor.foto.name }}" src="{% static promotor.foto.name %}" />
                </li>  
            </ul>
        </div>
        
        <h2>Festivales organizados por {{ promotor.namePromotor }}</h2>
        {% if promotor.festivales.all %}
            <div itemscope itemtype="http://schema.org/Organization">
                <ul itemprop="event" itemscope itemtype="http://schema.org/Festival">
                    {% for festival in promotor.festivales.all %}
                        <li itemprop="subEvent" itemscope itemtype="http://schema.org/MusicEvent">
                            <a href="{% url 'festivales' %}{{ festival.idFestival }}" itemprop="url">{{ festival.nombreFestival}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Este promotor no ha organizado festivales todavía.</p>
        {% endif %}


    {% else %}
        <p>No existe este promotor.</p>
    {% endif %}

    <!-- Agregamos Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    
</body>
</html>


