h1 {
    color: rgb(12, 12, 12);
    text-align: center;
}
header{
    margin-bottom: 50px;
}

h2{
    text-align: center;
}



nav ul {
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 42px;
}

nav ul li a{
    text-decoration: none;
    color:#090909;
    font-size: 15px;
    padding: 5px 3px;
    border-radius: 2px;
}

body{
    margin-top: 10px;
	margin-left: 100px;
    margin-right: 100px;
	padding: 5px;
    max-width: 900px;
    background-color: rgb(254, 194, 104); 
    text-align: left;
}
.contenedor{
    max-width: 1000px;
    background-color:blanchedalmond;
    border-radius: 30px;
    padding: 50px;
    color: #000000;
}

.promotores-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.promotor-item {
    list-style: none;
    text-align: center;
}

.promotor-item img {
    max-width: 150px;
    height: auto;
    border-radius: 8px; 
}

.contenedor ul{
    list-style: none;
}

.contenedor ul li a{
    text-align: left;
}
.contenedor ul li a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 183);
}

.festivales-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.festivales-item a{
    list-style: none;
    text-align: left;
    color:#c300bd;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.interpretes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.interprete-item a{
    list-style: none;
    text-align: left;
    color:#c300bd;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


.inicioSes{
    text-align: center;
}

